Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g33, pull requests merged in 2022-10, with the labels that each got.

#131 Add GRPC stream discovery
  collab-service/src/constants.ts
  collab-service/src/index.ts
  collab-service/src/message_handler/internal/internal_message_builder.ts
  collab-service/src/message_handler/internal/internal_message_types.d.ts
  collab-service/src/message_handler/room/connect_message_builder.ts
  collab-service/src/message_handler/room/unauthorized_message_builder.ts
  collab-service/src/room/disconnect_message_builder.ts
  collab-service/src/tunneller/collab_service_router.ts
  collab-service/src/tunneller/collab_tunnel_controller.ts
  collab-service/src/tunneller/collab_tunnel_serializer.ts
  frontend/src/pages/Session.tsx
Labels: Type/Enhancement, Module/Front-End, Module/Back-End

#132 [CollaborationUI] Change Language with Syntax Highlighting
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/editor/EditorLanguage.tsx
  frontend/src/pages/Session.tsx
  frontend/src/types.ts
  scripts/gen-y-websocket.sh
  y-websocket/dist/src/y-websocket.d.ts
  y-websocket/src/y-websocket.js
Labels: Module/Front-End

#134 Fix Websocket Disconnection
  collab-service/src/message_handler/room/unauthorized_message_builder.ts
  collab-service/src/proto/collab-service.ts
  collab-service/src/tunneller/collab_tunnel_controller.ts
  gateway/src/constants.go
  gateway/src/env_loader.go
  gateway/src/middleware_gateway.go
  gateway/src/middleware_proxy.go
  gateway/src/proto/collab-service.pb.go
  gateway/src/proto/collab-service_grpc.pb.go
  gateway/src/proto/matching-service.pb.go
  gateway/src/proto/matching-service_grpc.pb.go
  gateway/src/proto/session-service.pb.go
  gateway/src/proto/session-service_grpc.pb.go
  gateway/src/proto/types.pb.go
  gateway/src/proto/user-bff-service.pb.go
  gateway/src/proto/user-bff-service_grpc.pb.go
  gateway/src/proxy/grpc_proxy_client.go
  gateway/src/wsproxy/grpc_proxy_client.go
  gateway/src/wsproxy/proxy_constants.go
  gateway/src/wsproxy/proxy_stream_types.go
  gateway/src/wsproxy/ws_proxy_manager.go
  proto/collab-service.proto
  session-service/src/proto/session-service.pb.go
  session-service/src/proto/session-service_grpc.pb.go
  y-websocket/src/y-websocket.js
Labels: Module/Back-End, Type/Bug-Fix

#135 User Service Reorganization
  collab-service/src/proto/user-service.grpc-client.ts
  collab-service/src/proto/user-service.grpc-server.ts
  collab-service/src/proto/user-service.ts
  frontend/proto-emit.cfg
  frontend/src/App.tsx
  frontend/src/components/ui/navbar/HomeNavbar.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/proto/user-service.grpc-client.ts
  frontend/src/proto/user-service.grpc-server.ts
  frontend/src/proto/user-service.ts
  gateway/proto-emit.cfg
  gateway/service_definitions.yaml
  gateway/src/constants.go
  gateway/src/middleware_gateway.go
  gateway/src/proto/user-bff-service_grpc.pb.go
  gateway/src/proto/user-service.pb.go
  gateway/src/proto/user-service.pb.gw.go
  gateway/src/proto/user-service_grpc.pb.go
  proto/user-bff-service.proto
  proto/user-crud-service.proto
  proto/user-service.proto
  user-service/proto-emit.cfg
  user-service/src/constants.ts
  user-service/src/controller/user_crud_service_controller.ts
  user-service/src/controller/user_crud_service_handlers/create_user_handler.ts
  user-service/src/controller/user_crud_service_handlers/delete_user_handler.ts
  user-service/src/controller/user_crud_service_handlers/edit_user_handler.ts
  user-service/src/controller/user_crud_service_handlers/get_user_handler.ts
  user-service/src/controller/user_service_bff_controller.ts
  user-service/src/controller/user_service_controller.ts
  user-service/src/controller/user_service_handlers/get_user_profile_handler.ts
  user-service/src/controller/user_service_handlers/login_handler.ts
  user-service/src/controller/user_service_handlers/logout_handler.ts
  user-service/src/controller/user_service_handlers/register_handler.ts
  user-service/src/index.ts
  user-service/src/proto/user-bff-service.grpc-client.ts
  user-service/src/proto/user-bff-service.grpc-server.ts
  user-service/src/proto/user-bff-service.ts
  user-service/src/proto/user-crud-service.grpc-client.ts
  user-service/src/proto/user-crud-service.grpc-server.ts
  user-service/src/proto/user-crud-service.ts
  user-service/src/proto/user-service.grpc-client.ts
  user-service/src/proto/user-service.grpc-server.ts
  user-service/src/proto/user-service.ts
Labels: Type/Enhancement, Module/Back-End, Status/High-Priority

#138 [Collaboration UI] Code Saving
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/editor/EditorTabs.tsx
  frontend/src/pages/Session.tsx
  frontend/src/utils/fileDownloadUtil.ts
  frontend/src/utils/hooks/useFixedToast.ts
Labels: Module/Front-End

#140 Refactor Database Names
  db/entities/History.ts
  db/entities/PasswordReset.ts
  db/entities/PasswordResetToken.ts
  db/entities/Question.ts
  db/entities/User.ts
  db/entities/index.ts
  question-service/src/db/History.ts
  question-service/src/db/PasswordReset.ts
  question-service/src/db/PasswordResetToken.ts
  question-service/src/db/Question.ts
  question-service/src/db/User.ts
  question-service/src/db/index.ts
  user-service/src/db/History.ts
  user-service/src/db/PasswordReset.ts
  user-service/src/db/PasswordResetToken.ts
  user-service/src/db/Question.ts
  user-service/src/db/User.ts
  user-service/src/db/index.ts
Labels: Type/Enhancement, Module/Back-End

#151 Refactor User Service
  user-service/Dockerfile
  user-service/src/api_server/api_server.ts
  user-service/src/api_server/api_server_helpers.ts
  user-service/src/api_server/api_server_types.d.ts
  user-service/src/api_server/loopback_channel.ts
  user-service/src/controller/user_crud_service_controller.ts
  user-service/src/controller/user_service_controller.ts
  user-service/src/controller/user_service_handlers/get_user_profile_handler.ts
  user-service/src/controller/user_service_handlers/login_handler.ts
  user-service/src/controller/user_service_handlers/register_handler.ts
  user-service/src/index.ts
Labels: Type/Enhancement, Module/Back-End

#152 Upgrade API Server For NodeJS Services
  matching-service/Dockerfile
  matching-service/src/api_server/api_server.ts
  matching-service/src/api_server/api_server_helpers.ts
  matching-service/src/api_server/api_server_types.d.ts
  matching-service/src/api_server/loopback_channel.ts
  question-service/Dockerfile
  question-service/src/api_server/api_server.ts
  question-service/src/api_server/api_server_helpers.ts
  question-service/src/api_server/api_server_types.d.ts
  question-service/src/api_server/loopback_channel.ts
  question-service/src/constants.ts
  question-service/src/controller/question_service_handlers/create_question_handler.ts
  question-service/src/controller/question_service_handlers/delete_question_handler.ts
  question-service/src/controller/question_service_handlers/edit_question_handler.ts
  question-service/src/controller/question_service_handlers/get_question_handler.ts
  question-service/src/index.ts
Labels: Type/Enhancement, Module/Back-End

#158 Deprecate Signing Secret in Matching Service
  matching-service/src/utils/env_loader.ts
Labels: Module/Back-End, Type/Bug-Fix

#156 Add Get Question for Collab-to-Frontend
  collab-service/src/constants.ts
  collab-service/src/message_handler/internal/internal_message_builder.ts
  collab-service/src/message_handler/internal/internal_message_types.d.ts
  collab-service/src/message_handler/room/connect_message_builder.ts
  collab-service/src/message_handler/room/response_message_builder.ts
  collab-service/src/message_handler/room/unauthorized_message_builder.ts
  collab-service/src/question_client/question_agent.ts
  collab-service/src/redis_adapter/redis_question_adapter.ts
  collab-service/src/tunneller/collab_tunnel_controller.ts
  collab-service/test/unit_testing/message_handler/internal/internal_message_builder.test.ts
  collab-service/test/unit_testing/message_handler/room/connect_message_builder.test.ts
  collab-service/test/unit_testing/message_handler/room/response_message_builder.test.ts
  collab-service/test/unit_testing/message_handler/room/unauthorized_message_builder.test.ts
  collab-service/test/unit_testing/redis_adapter/redis_question_adapter.test.ts
  frontend/package-lock.json
  frontend/src/components/editor/EditorTabs.tsx
  frontend/src/components/form/QueueForm.tsx
  frontend/src/components/matching/Countdown.tsx
  frontend/src/components/question/QuestionSection.tsx
  frontend/src/components/ui/navbar/HomeNavbar.tsx
  frontend/src/feature/matching/matchingSlice.ts
  frontend/src/pages/Session.tsx
  y-websocket/dist/src/y-websocket.d.ts
  y-websocket/src/y-websocket.js
Labels: Module/Front-End, Module/Back-End

#161 Enforce History getAttempts Result Ordering
  history-service/src/storage/attempt_store.ts
Labels: Module/Back-End, Type/Bug-Fix

#162 Improve Proto Generation Script
  collab-service/proto-emit.cfg
  collab-service/src/proto/collab-service.grpc-client.ts
  collab-service/src/proto/question-service.grpc-server.ts
  collab-service/src/proto/user-service.grpc-client.ts
  collab-service/src/proto/user-service.grpc-server.ts
  collab-service/src/proto/user-service.ts
  frontend/src/proto/history-service.grpc-client.ts
  frontend/src/proto/history-service.grpc-server.ts
  frontend/src/proto/matching-service.grpc-client.ts
  frontend/src/proto/matching-service.grpc-server.ts
  frontend/src/proto/user-service.grpc-client.ts
  frontend/src/proto/user-service.grpc-server.ts
  gateway/proto-emit.cfg
  history-service/proto-emit.cfg
  history-service/src/proto/history-crud-service.grpc-client.ts
  history-service/src/proto/history-service.grpc-client.ts
  history-service/src/proto/user-crud-service.grpc-server.ts
  matching-service/proto-emit.cfg
  matching-service/src/proto/matching-service.grpc-client.ts
  question-service/proto-emit.cfg
  question-service/src/proto/question-service.grpc-client.ts
  scripts/gen-proto-go.sh
  scripts/gen-proto.sh
  session-service/proto-emit.cfg
  user-service/proto-emit.cfg
  user-service/src/proto/session-service.grpc-server.ts
  user-service/src/proto/user-crud-service.grpc-client.ts
  user-service/src/proto/user-service.grpc-client.ts
Labels: Type/Enhancement

#164 Fix History Service Sql Query
  history-service/src/storage/attempt_store.ts
Labels: Module/Back-End, Type/Bug-Fix

#166 Add Tests for User Service
  .github/workflows/ci-tests.yml
  scripts/run-ci-node.sh
  scripts/run-ci.sh
  user-service/jest.config.json
  user-service/package-lock.json
  user-service/package.json
  user-service/src/api_server/api_server_types.d.ts
  user-service/src/auth/hash_agent.ts
  user-service/src/auth/hash_agent_types.d.ts
  user-service/src/controller/user_crud_service_handlers/create_user_handler.ts
  user-service/src/controller/user_crud_service_handlers/delete_user_handler.ts
  user-service/src/controller/user_crud_service_handlers/edit_user_handler.ts
  user-service/src/controller/user_crud_service_handlers/get_user_handler.ts
  user-service/src/controller/user_service_controller.ts
  user-service/src/controller/user_service_handlers/get_user_profile_handler.ts
  user-service/src/controller/user_service_handlers/login_handler.ts
  user-service/src/controller/user_service_handlers/logout_handler.ts
  user-service/src/controller/user_service_handlers/register_handler.ts
  user-service/src/index.ts
  user-service/src/utils/gateway_constants.ts
  user-service/tests/controller/test_util.ts
  user-service/tests/controller/user_crud_service_handlers/create_user_handler.test.ts
  user-service/tests/controller/user_crud_service_handlers/delete_user_handler.test.ts
  user-service/tests/controller/user_crud_service_handlers/edit_user_handler.test.ts
  user-service/tests/controller/user_crud_service_handlers/get_user_handler.test.ts
  user-service/tests/controller/user_service_handlers/get_user_profile_handler.test.ts
  user-service/tests/controller/user_service_handlers/login_handler.test.ts
  user-service/tests/controller/user_service_handlers/logout_handler.test.ts
  user-service/tests/controller/user_service_handlers/register_handler.test.ts
  user-service/tsconfig.json
Labels: Module/Back-End

#167 Fix Typescript Compilation for User Service
  user-service/.eslintrc.json
  user-service/tests/tsconfig.json
  user-service/tsconfig.json
Labels: Module/Back-End

#160 Code Snapshotting
  collab-service/.eslintrc.json
  collab-service/proto-emit.cfg
  collab-service/src/constants.ts
  collab-service/src/history_client/history_agent.ts
  collab-service/src/history_client/history_agent_types.d.ts
  collab-service/src/history_handler/attempt_cache.ts
  collab-service/src/history_handler/attempt_cache_types.d.ts
  collab-service/src/history_handler/attempt_decoder.ts
  collab-service/src/index.ts
  collab-service/src/message_handler/internal/internal_message_builder.ts
  collab-service/src/message_handler/room/connect_message_builder.ts
  collab-service/src/proto/history-crud-service.grpc-client.ts
  collab-service/src/proto/history-crud-service.ts
  collab-service/src/question_client/question_agent.ts
  collab-service/src/question_client/question_agent_types.d.ts
  collab-service/src/redis_adapter/redis_question_adapter.ts
  collab-service/src/tunneller/collab_tunnel_bridge.ts
  collab-service/src/tunneller/collab_tunnel_controller.ts
  collab-service/src/utils/env_loader.ts
  collab-service/src/utils/grpc_deadline.ts
  collab-service/tests/tsconfig.json
  collab-service/tests/unit_testing/message_handler/internal/internal_message_builder.test.ts
  collab-service/tests/unit_testing/message_handler/room/connect_message_builder.test.ts
  collab-service/tests/unit_testing/message_handler/room/response_message_builder.test.ts
  collab-service/tests/unit_testing/redis_adapter/redis_pubsub_adapter.test.ts
  collab-service/tests/unit_testing/redis_adapter/redis_question_adapter.test.ts
  collab-service/tests/unit_testing/redis_adapter/redis_topic_pool.test.ts
  collab-service/tests/unit_testing/redis_adapter/redis_topic_pool_stub.ts
  collab-service/tests/unit_testing/room_auth/room_session_agent.test.ts
  collab-service/tests/unit_testing/tunneller/collab_tunnel_controller.test.ts
  collab-service/tests/unit_testing/tunneller/collab_tunnel_serializer.test.ts
  collab-service/tests/unit_testing/tunneller/tunnel_serializer_stub.ts
  collab-service/tsconfig.lint.json
  config_env/collab-service.env.sample
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/Editor.tsx
  frontend/src/pages/Session.tsx
  frontend/src/utils/hooks/useFixedToast.ts
  scripts/gen-y-websocket.sh
  y-websocket/dist/src/y-websocket.d.ts
  y-websocket/package-lock.json
  y-websocket/package.json
  y-websocket/src/y-websocket.js
Labels: Type/Enhancement, Module/Front-End, Module/Back-End

#177 Fix frontend Dockerfile
  frontend/Dockerfile
Labels: Type/Bug-Fix

#175 Separate Submission from History Attempt Listing
  collab-service/src/proto/history-crud-service.ts
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/history/HistorySection.tsx
  frontend/src/components/history/HistoryTable.tsx
  frontend/src/components/modal/HistoryAttemptModal.tsx
  frontend/src/components/ui/LoadingSection.tsx
  frontend/src/pages/Session.tsx
  frontend/src/proto/history-service.ts
  frontend/src/utils/hooks/useFixedToast.ts
  gateway/service_definitions.yaml
  gateway/src/constants.go
  gateway/src/proto/history-service.pb.go
  gateway/src/proto/history-service.pb.gw.go
  gateway/src/proto/history-service_grpc.pb.go
  history-service/src/controller/history_crud_service_handlers/base_handler.ts
  history-service/src/controller/history_crud_service_handlers/get_attempt_handler.ts
  history-service/src/controller/history_crud_service_handlers/get_attempts_handler.ts
  history-service/src/controller/history_service_controller.ts
  history-service/src/controller/history_service_handlers/get_attempt_history_handler.ts
  history-service/src/controller/history_service_handlers/get_attempt_submission_handler.ts
  history-service/src/db/history_entity.ts
  history-service/src/model/attempt_store_model.ts
  history-service/src/proto/history-crud-service.ts
  history-service/src/proto/history-service.grpc-server.ts
  history-service/src/proto/history-service.ts
  history-service/src/storage/attempt_store.ts
  history-service/src/storage/storage.d.ts
  proto/history-crud-service.proto
  proto/history-service.proto
Labels: Type/Enhancement, Module/Front-End, Module/Back-End

#179 Fix React Static Page Serving
  gateway/src/middleware_static.go
Labels: Module/Back-End, Type/Bug-Fix

#180 Fix Deployment
  .github/workflows/cd-build.yml
Labels: Type/Bug-Fix, Module/Infrastructure

#183 Add Password Reset API
  .github/workflows/cd-build.yml
  collab-service/src/proto/types.ts
  config_env/user-service.env.sample
  frontend/src/proto/types.ts
  frontend/src/proto/user-service.ts
  gateway/src/constants.go
  gateway/src/proto/types.pb.go
  gateway/src/proto/user-service.pb.go
  gateway/src/proto/user-service.pb.gw.go
  gateway/src/proto/user-service_grpc.pb.go
  history-service/src/proto/types.ts
  history-service/src/proto/user-crud-service.grpc-client.ts
  history-service/src/proto/user-crud-service.ts
  matching-service/src/proto/types.ts
  proto/types.proto
  proto/user-crud-service.proto
  proto/user-service.proto
  question-service/src/proto/types.ts
  user-service/package-lock.json
  user-service/package.json
  user-service/src/adapter/email_adapter.d.ts
  user-service/src/adapter/smtp_adapter.ts
  user-service/src/adapter/smtp_types.d.ts
  user-service/src/constants.ts
  user-service/src/controller/user_crud_service_controller.ts
  user-service/src/controller/user_crud_service_handlers/create_reset_token_handler.ts
  user-service/src/controller/user_crud_service_handlers/create_user_handler.ts
  user-service/src/controller/user_crud_service_handlers/delete_reset_token_handler.ts
  user-service/src/controller/user_crud_service_handlers/get_reset_tokens_handler.ts
  user-service/src/controller/user_service_controller.ts
  user-service/src/controller/user_service_handlers/consume_reset_token_handler.ts
  user-service/src/controller/user_service_handlers/reset_password_handler.ts
  user-service/src/db/password_reset_token_entity.ts
  user-service/src/db/user_entity.ts
  user-service/src/email/email_sender.ts
  user-service/src/email/email_template_builder.ts
  user-service/src/index.ts
  user-service/src/model/reset_token_helper.ts
  user-service/src/model/reset_token_model.d.ts
  user-service/src/model/user_helper.ts
  user-service/src/model/user_store_model.d.ts
  user-service/src/proto/types.ts
  user-service/src/proto/user-crud-service.grpc-server.ts
  user-service/src/proto/user-crud-service.ts
  user-service/src/proto/user-service.grpc-server.ts
  user-service/src/proto/user-service.ts
  user-service/src/storage/app_storage.ts
  user-service/src/storage/reset_token_store.ts
  user-service/src/storage/storage.d.ts
  user-service/src/storage/user_store.ts
  user-service/src/utils/env_loader.ts
  user-service/src/utils/gateway_constants.ts
  user-service/tests/controller/user_crud_service_handlers/create_user_handler.test.ts
  user-service/tests/controller/user_crud_service_handlers/delete_user_handler.test.ts
  user-service/tests/controller/user_crud_service_handlers/edit_user_handler.test.ts
  user-service/tests/controller/user_crud_service_handlers/get_user_handler.test.ts
Labels: Module/Back-End, Type/Feature

#184 Fix reset password routes on gateway
  gateway/service_definitions.yaml
  gateway/src/constants.go
  gateway/src/proto/user-service.pb.gw.go
Labels: Module/Back-End, Type/Bug-Fix

#181 Reset Password UI
  frontend/src/components/auth/UnprotectedRoute.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/SetNewPassword.tsx
  gateway/src/auth/auth_mux.go
  gateway/src/constants.go
Labels: Module/Front-End, Status/High-Priority, Type/Feature

#186 Session Chatting
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/store.ts
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatList.tsx
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/components/chat/ChatSection.tsx
  frontend/src/components/editor/EditorTabs.tsx
  frontend/src/feature/chat/chatSlice.ts
  frontend/src/pages/Session.tsx
  frontend/src/types.ts
  y-websocket/dist/src/y-websocket.d.ts
  y-websocket/package.json
  y-websocket/src/y-websocket.js
Labels: Module/Front-End

#188 Fix Deployment Networking
  .aws/task-definition.json
  .github/workflows/cd-build.yml
  frontend/frontend.nginx.conf
Labels: Type/Enhancement, Module/Infrastructure

#189 Add automatic websocket protocol switching
  frontend/src/pages/Session.tsx
Labels: Module/Front-End, Type/Bug-Fix

#187 Delete question & user propogation for History service
  config_env/history-service.env.sample
  config_env/question-service.env.sample
  config_env/user-service.env.sample
  history-service/package-lock.json
  history-service/package.json
  history-service/src/constants.ts
  history-service/src/index.ts
  history-service/src/redis_stream_adapter/consumer.d.ts
  history-service/src/redis_stream_adapter/history_redis_consumer.ts
  history-service/src/redis_stream_adapter/redis_consumer.ts
  history-service/src/storage/attempt_store.ts
  history-service/src/storage/storage.d.ts
  history-service/src/utils/env_loader.ts
  question-service/package-lock.json
  question-service/package.json
  question-service/src/constants.ts
  question-service/src/controller/question_service_controller.ts
  question-service/src/controller/question_service_handlers/delete_question_handler.ts
  question-service/src/index.ts
  question-service/src/redis_stream_adapter/producer.d.ts
  question-service/src/redis_stream_adapter/question_delete_producer.ts
  question-service/src/utils/env_loader.ts
  user-service/package-lock.json
  user-service/package.json
  user-service/src/constants.ts
  user-service/src/controller/user_crud_service_controller.ts
  user-service/src/controller/user_crud_service_handlers/delete_user_handler.ts
  user-service/src/index.ts
  user-service/src/redis_stream_adapter/producer.d.ts
  user-service/src/redis_stream_adapter/user_delete_producer.ts
  user-service/src/utils/env_loader.ts
  user-service/tests/controller/test_util.ts
  user-service/tests/controller/user_crud_service_handlers/delete_user_handler.test.ts
  y-websocket/package-lock.json
Labels: Module/Back-End

#191 Fix Flipped Ternary Operator in Frontend
  frontend/src/components/history/HistorySection.tsx
Labels: Module/Front-End, Type/Bug-Fix

#193 Remove Dev Button
  frontend/src/pages/Session.tsx
Labels: Module/Front-End

#200 Add Session Service Chronological Blacklist
  gateway/src/proto/collab-service.pb.go
  gateway/src/proto/collab-service_grpc.pb.go
  gateway/src/proto/history-service.pb.go
  gateway/src/proto/history-service_grpc.pb.go
  gateway/src/proto/matching-service.pb.go
  gateway/src/proto/matching-service_grpc.pb.go
  gateway/src/proto/session-service.pb.go
  gateway/src/proto/session-service_grpc.pb.go
  gateway/src/proto/types.pb.go
  gateway/src/proto/user-service.pb.go
  gateway/src/proto/user-service_grpc.pb.go
  proto/session-service.proto
  session-service/src/blacklist/blacklist_client.go
  session-service/src/blacklist/blacklist_types.go
  session-service/src/blacklist/chronological_blacklist.go
  session-service/src/blacklist/pipeline/blacklist_pipeline_builder.go
  session-service/src/blacklist/pipeline/blacklist_pipeline_filter.go
  session-service/src/blacklist/refresh_blacklist.go
  session-service/src/blacklist/refresh_blacklist_querier.go
  session-service/src/blacklist/session_blacklist.go
  session-service/src/blacklist/session_blacklist_querier.go
  session-service/src/constants.go
  session-service/src/main.go
  session-service/src/mocks/mock_redis_client.go
  session-service/src/mocks/mock_token_blacklist.go
  session-service/src/proto/session-service.pb.go
  session-service/src/proto/session-service_grpc.pb.go
  session-service/src/service/handlers/add_blacklist_handler.go
  session-service/src/service/session_service_server.go
  session-service/src/token/token_agent.go
  session-service/src/token/token_agent_test.go
  session-service/src/token/token_blacklist.go
  user-service/src/proto/session-service.ts
Labels: Module/Back-End, Type/Feature

#204 Add History Service Test
  history-service/.eslintrc.json
  history-service/jest.config.json
  history-service/package-lock.json
  history-service/package.json
  history-service/src/controller/history_crud_service_handlers/delete_attempt_handler.ts
  history-service/tests/controller/history_crud_service_handler/create_attempt_handler.test.ts
  history-service/tests/controller/history_crud_service_handler/delete_attempt_handler.test.ts
  history-service/tests/controller/history_crud_service_handler/get_attempt_handler.test.ts
  history-service/tests/controller/history_crud_service_handler/get_attempts_handler.test.ts
  history-service/tests/controller/history_service_handlers/get_attempt_history_handler.test.ts
  history-service/tests/controller/history_service_handlers/get_attempt_submission_handler.test.ts
  history-service/tests/controller/test_util.ts
  history-service/tests/tsconfig.json
Labels: Module/Back-End

#203 Refactor Unauthenticated Pages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/form/LoginForm.tsx
  frontend/src/components/form/RegisterForm.tsx
  frontend/src/components/form/ResetPasswordForm.tsx
  frontend/src/components/form/SetNewPasswordForm.tsx
  frontend/src/components/ui/form/PasswordInput.tsx
  frontend/src/components/ui/layout/UnauthLayout.tsx
  frontend/src/constants/validators.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/SetNewPassword.tsx
Labels: Module/Front-End

#202 Add Leave Queue Functionality
  frontend/src/components/matching/Countdown.tsx
  frontend/src/proto/matching-service.ts
  gateway/service_definitions.yaml
  gateway/src/constants.go
  gateway/src/proto/matching-service.pb.go
  gateway/src/proto/matching-service.pb.gw.go
  gateway/src/proto/matching-service_grpc.pb.go
  matching-service/src/constants.ts
  matching-service/src/controller/matching_service_controller.ts
  matching-service/src/controller/matching_service_handlers/join_queue_handler.ts
  matching-service/src/controller/matching_service_handlers/leave_queue_handler.ts
  matching-service/src/proto/matching-service.grpc-server.ts
  matching-service/src/proto/matching-service.ts
  matching-service/src/redis_adapter/redis_matching_adapter.ts
  matchmaker/src/conn/redis_client.go
  matchmaker/src/constants.go
  proto/matching-service.proto
Labels: Module/Back-End, Type/Bug-Fix, Status/High-Priority

#206 Refactor API Server
  user-service/src/api_server/api_server.ts
  user-service/src/api_server/api_server_helpers.ts
  user-service/src/api_server/api_server_types.d.ts
  user-service/src/api_server/grpc_server.ts
  user-service/src/api_server/grpc_server_types.d.ts
  user-service/src/api_server/http_server.ts
  user-service/src/api_server/http_server_types.d.ts
  user-service/src/api_server/loopback_channel.ts
  user-service/src/api_server/loopback_server_types.d.ts
  user-service/src/constants.ts
  user-service/src/controller/controller_utils.ts
  user-service/src/controller/user_crud_service_controller.ts
  user-service/src/controller/user_crud_service_handlers/get_reset_tokens_handler.ts
  user-service/src/controller/user_service_controller.ts
  user-service/src/controller/user_service_handlers/consume_reset_token_handler.ts
  user-service/src/controller/user_service_handlers/get_user_profile_handler.ts
  user-service/src/controller/user_service_handlers/login_handler.ts
  user-service/src/controller/user_service_handlers/logout_handler.ts
  user-service/src/controller/user_service_handlers/register_handler.ts
  user-service/src/controller/user_service_handlers/reset_password_handler.ts
  user-service/src/index.ts
  user-service/tests/api_server/api_server.test.ts
  user-service/tests/api_server/grpc_server.test.ts
  user-service/tests/api_server/http_server.test.ts
  user-service/tests/api_server/loopback_channel.test.ts
  user-service/tests/controller/test_util.ts
  user-service/tests/controller/user_crud_service_handlers/create_reset_token_handler.test.ts
  user-service/tests/controller/user_crud_service_handlers/delete_reset_token_handler.test.ts
  user-service/tests/controller/user_crud_service_handlers/get_reset_tokens.test.ts
  user-service/tests/controller/user_service_handlers/consume_reset_token_handler.test.ts
  user-service/tests/controller/user_service_handlers/get_user_profile_handler.test.ts
  user-service/tests/controller/user_service_handlers/login_handler.test.ts
  user-service/tests/controller/user_service_handlers/logout_handler.test.ts
  user-service/tests/controller/user_service_handlers/register_handler.test.ts
  user-service/tests/controller/user_service_handlers/reset_password_handler.test.ts
Labels: Type/Enhancement, Module/Back-End, Type/Bug-Fix

#205 Add change password and change nickname
  frontend/src/components/form/ChangeNicknameForm.tsx
  frontend/src/components/form/ChangePasswordForm.tsx
  frontend/src/components/matching/Countdown.tsx
  frontend/src/components/modal/AccountSettingsModal.tsx
  frontend/src/components/ui/navbar/HomeNavbar.tsx
  frontend/src/constants/validators.ts
  frontend/src/feature/user/userSlice.ts
  frontend/src/proto/user-service.ts
  gateway/service_definitions.yaml
  gateway/src/constants.go
  gateway/src/proto/user-service.pb.go
  gateway/src/proto/user-service.pb.gw.go
  gateway/src/proto/user-service_grpc.pb.go
  proto/user-service.proto
  scripts/ci-config.sh
  scripts/gen-proto-go.sh
  scripts/run-ci-node.sh
  scripts/run-ci-setup.sh
  scripts/run-ci.sh
  user-service/src/controller/user_service_controller.ts
  user-service/src/controller/user_service_handlers/change_nickname_handler.ts
  user-service/src/controller/user_service_handlers/change_password_handler.ts
  user-service/src/proto/user-service.grpc-server.ts
  user-service/src/proto/user-service.ts
Labels: Module/Front-End, Module/Back-End, Status/High-Priority

#211 Update Question and HistoryCompletion Schema
  history-service/src/db/history_completion_entity.ts
  history-service/src/db/index.ts
  question-service/src/db/question_entity.ts
Labels: Type/Enhancement, Module/Back-End, Status/Medium-Priority

#210 Fix Token Invalidation and Refresh After Password and/or Nickname Change
  frontend/src/components/form/ChangeNicknameForm.tsx
  frontend/src/components/form/ChangePasswordForm.tsx
  user-service/src/auth/authentication_agent_types.d.ts
  user-service/src/controller/user_service_controller.ts
  user-service/src/controller/user_service_handlers/change_nickname_handler.ts
  user-service/src/controller/user_service_handlers/change_password_handler.ts
Labels: Bug, Module/Back-End

#216 Change Email Provider
  .github/workflows/cd-deployment.yml
  config_env/user-service.env.sample
  user-service/src/adapter/smtp_adapter.ts
  user-service/src/adapter/smtp_types.d.ts
  user-service/src/index.ts
  user-service/src/utils/env_loader.ts
Labels: Module/Back-End, Type/Bug-Fix

#217 Fix Email Provider in Deployment
  .github/workflows/cd-deployment.yml
  config_env/user-service.env.sample
  frontend/src/components/form/ChangeNicknameForm.tsx
  frontend/src/components/form/ChangePasswordForm.tsx
  history-service/src/db/history_completion_entity.ts
  history-service/src/db/index.ts
  question-service/src/db/question_entity.ts
  user-service/src/adapter/smtp_adapter.ts
  user-service/src/adapter/smtp_types.d.ts
  user-service/src/auth/authentication_agent_types.d.ts
  user-service/src/controller/user_service_controller.ts
  user-service/src/controller/user_service_handlers/change_nickname_handler.ts
  user-service/src/controller/user_service_handlers/change_password_handler.ts
  user-service/src/index.ts
  user-service/src/utils/env_loader.ts
Labels: Type/Bug-Fix, Module/Infrastructure

#220 Unify Environment Variable
  .github/workflows/cd-deployment.yml
  .gitignore
  collab-service/.env.sample
  collab-service/src/constants.ts
  collab-service/src/index.ts
  collab-service/src/utils/env_loader.ts
  config_env/collab-service.env.sample
  config_env/gateway.env.sample
  config_env/history-service.env.sample
  config_env/matching-service.env.sample
  config_env/matchmaker.env.sample
  config_env/route-map-gateway.env
  config_env/route-map-internal.env
  config_env/secrets-db.env.sample
  config_env/secrets-email.env.sample
  config_env/secrets-signing.env.sample
  config_env/user-service.env.sample
  docker-compose.yml
  gateway/src/constants.go
  gateway/src/env_loader.go
  history-service/.env.sample
  history-service/src/constants.ts
  history-service/src/db/index.ts
  history-service/src/utils/env_loader.ts
  matching-service/.env.sample
  matching-service/src/constants.ts
  matching-service/src/index.ts
  matching-service/src/utils/env_loader.ts
  question-service/.env.sample
  question-service/src/constants.ts
  question-service/src/db/index.ts
  question-service/src/utils/env_loader.ts
  user-service/.env.sample
  user-service/src/constants.ts
  user-service/src/db/index.ts
  user-service/src/utils/env_loader.ts
Labels: Type/Enhancement, Module/Back-End

#222 Add Tests for Session Service
  gateway/src/proto/collab-service.pb.go
  gateway/src/proto/collab-service_grpc.pb.go
  gateway/src/proto/history-service.pb.go
  gateway/src/proto/history-service_grpc.pb.go
  gateway/src/proto/matching-service.pb.go
  gateway/src/proto/matching-service_grpc.pb.go
  gateway/src/proto/session-service.pb.go
  gateway/src/proto/session-service_grpc.pb.go
  gateway/src/proto/types.pb.go
  gateway/src/proto/user-service.pb.go
  gateway/src/proto/user-service_grpc.pb.go
  proto/session-service.proto
  session-service/src/proto/session-service.pb.go
  session-service/src/proto/session-service_grpc.pb.go
  session-service/src/service/handlers/add_blacklist_handler_test.go
  session-service/src/service/handlers/create_token_handler.go
  session-service/src/service/handlers/create_token_handler_test.go
  session-service/src/service/handlers/validate_token_handler.go
  session-service/src/service/handlers/validate_token_handler_test.go
  session-service/src/token/jwt_agent_test.go
  session-service/src/token/mock_token_agent.go
  session-service/src/token/token_agent.go
  user-service/src/proto/session-service.ts
Labels: Type/Enhancement, Module/Back-End

#223 Add tests for Matching Service
  matching-service/.eslintrc.json
  matching-service/jest.config.json
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/src/controller/controller_utils.ts
  matching-service/src/controller/matching_service_handlers/check_status_handler.ts
  matching-service/src/controller/matching_service_handlers/join_queue_handler.ts
  matching-service/src/controller/matching_service_handlers/leave_queue_handler.ts
  matching-service/src/redis_adapter/redis_matching_adapter.ts
  matching-service/src/utils/gateway_constants.ts
  matching-service/tests/controller/check_status_handler.test.ts
  matching-service/tests/controller/join_queue_handler.test.ts
  matching-service/tests/controller/leave_queue_handler.test.ts
  matching-service/tests/controller/test_utils.ts
  matching-service/tests/tsconfig.json
Labels: Type/Enhancement, Module/Back-End

#225 Add Tests for Question Service
  collab-service/src/proto/types.ts
  collab-service/src/question_client/question_agent.ts
  collab-service/tests/unit_testing/redis_adapter/redis_question_adapter.test.ts
  frontend/src/proto/types.ts
  history-service/src/proto/types.ts
  history-service/tests/controller/test_util.ts
  matching-service/src/proto/types.ts
  proto/types.proto
  question-service/.eslintrc.json
  question-service/jest.config.json
  question-service/package-lock.json
  question-service/package.json
  question-service/src/controller/question_service_handlers/create_question_handler.ts
  question-service/src/controller/question_service_handlers/edit_question_handler.ts
  question-service/src/controller/question_service_handlers/get_question_handler.ts
  question-service/src/db/question_entity.ts
  question-service/src/model/question_store_model.d.ts
  question-service/src/proto/types.ts
  question-service/src/storage/question_store.ts
  question-service/tests/controller/question_crud_service_handler/create_question_handler.test.ts
  question-service/tests/controller/question_crud_service_handler/delete_question_handler.test.ts
  question-service/tests/controller/question_crud_service_handler/edit_question_handler.test.ts
  question-service/tests/controller/question_crud_service_handler/get_question_handler.test.ts
  question-service/tests/controller/test_util.ts
  question-service/tests/tsconfig.json
  user-service/src/proto/types.ts
  user-service/tests/controller/user_crud_service_handlers/edit_user_handler.test.ts
Labels: Type/Enhancement, Module/Back-End

#226 Remove Expired Refresh Token
  docker-compose.yml
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.tsx
  frontend/src/Logo.tsx
  frontend/src/logo.svg
Labels: Module/Front-End, Type/Bug-Fix
